.sidebar{
    /* height: calc(100vh - 100px); */
    height: 100vh;
    background-color: #F2EEE5;
    position: sticky;
    top: 80px;
}
.sidebarwrapper{
   padding-top: 10px;
   padding-left: 10px;
    color: #4A8963;
}
.sidebarmenu{
    margin-bottom: 5px;
}
.sidebartitle{
    font-size: 24px;
}
.sidebarlist{
    list-style: none;
    /* padding: 5px; */
}
.sidebarlistitem{
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarlistitem.active, .sidebarlistitem:hover{
    background-color: #bcebcf;
}
.sidebaricon{
    margin-right: 5px;
    font-size: 20px !important;
}
