.admin {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.admintitlecontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.adminaddbutton {
    width: 100px;
    height: 45px;
    border: none;
    padding: 5px;
    background-color: #4A8963;
    border-radius: 5px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 16px;
}

.admintitle {
    color: #4A8963;
    font-size: 24px;
}

.admincontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminshow,
.adminupdate {
    padding: 20px;
    background-color: #F2EEE5;
    box-shadow: 12px 10px 16px -6px rgba(74,137,99,0.71);
    -webkit-box-shadow: 12px 10px 16px -6px rgba(74,137,99,0.71);
    -moz-box-shadow: 12px 10px 16px -6px rgba(74,137,99,0.71);
}

.adminupdate {
    margin-top: 20px;
}

.adminshowtop {
    display: flex;
    align-items: center;
    gap: 20px;
}

.adminshowimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.adminshowtoptitle {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.adminshowbottom {
    margin-top: 20px;
}

.adminshowtitle {
    font-size: 24px;
    font-weight: 600;
    color: rgb(129, 119, 119);
}

.adminshowinfo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #444;
}

.adminshowinfotitle {
    font-size: 18px;
}

.adminupdateform {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.adminupdateitem {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.adminupdateitem > label {
    font-size: 18px;
    margin-bottom: 5px;
}

.adminupdateinput {
    border: none;
    border-bottom: 1px solid gray;
    padding: 12px;
}

.adminupdateimg {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin: 20px 0;
}

.adminupdatebutton {
    width: 150px;
    height: 40px;
    border: none;
    padding: 5px;
    background-color: #4A8963;
    border-radius: 5px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .adminshow,
    .adminupdate {
        padding: 10px;
    }

    .adminupdateitem {
        flex-basis: 100%;
    }
}
